<?xml version="1.0"?>


<launch>
    <arg name="use_rosbot" default="true" />
    <arg name="fcu_url" default="udp://:14551@" />
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="mavros_output" default="log" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="respawn_mavros" default="false" />
    <arg name="pluginlists_yaml" default="$(find aion_control)/config/apm_pluginlists_odom.yaml" />
    <arg name="config_yaml" default="$(find aion_control)/config/apm_config_odom.yaml" />
    <arg name="use_bt_joystick" default="false" />
    <arg name="use_mavros" default="true" />
    
    <node 
        name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    </node>
    
    <param if="$(arg use_rosbot)" name="use_sim_time" value="false"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find aion_r1_description)/urdf/r1_without_ZED.urdf.xacro' --inorder" />

    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <node
        name="map_server"
        pkg="map_server"
        type="map_server"
        args="$(find aion_control)/maps/b_site.yaml">
    </node>

    <!-- <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <node
        name="map_server"
        pkg="map_server"
        type="map_server"
        args="$(find aion_control)/maps/map.yaml">
    </node> -->
    
    <node
        name="tf_footprint_base"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40">
    </node>
   
    <node
        name="tf_top_link"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0.114485752303901 0 0 0 base_link top_link 40">
    </node>

    <node name="tf_Lidar"
        pkg="tf"
        type="static_transform_publisher"
        args="0.125 0 0.055 0 0 0 top_link laser 40">
    </node>


    <node name="robot_pose_publisher"
        pkg="robot_pose_publisher"
        type="robot_pose_publisher"
        respawn="false"
        output="screen">
    </node>

    <node name="base_to_fcu_broadcaster"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link fcu 40">
    </node>

    <!-- If not use KF, make comment. -->
    <node name="kf_localizer"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 UGV/est_base_link base_link 40">
    </node>
    <!-- If not use KF, make comment. -->

<!--     <node name="UAV_UGV_odom_matcher"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0.707 0.707 0 0 UAV/odom UGV/odom 40">
    </node> -->
    <!-- UAV/odom: NED, UGV/odom: ENU -->

    <!-- assumeption -->
    <node name="odom_matcher_2"
	pkg="tf"
	type="static_transform_publisher"
	args="0 0 0 0 0 0 map UGV/odom 100">
    </node>
    <!-- By using mavros mavcmd sethome -c Lat Log Alt, it should be set before starting experiment, manually.-->

    <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

    <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

    <node if="$(arg use_mavros)" pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg mavros_output)" respawn="$(arg respawn_mavros)">
        <param name="fcu_url" value="$(arg fcu_url)" />
        <param name="gcs_url" value="$(arg gcs_url)" />
        <param name="target_system_id" value="$(arg tgt_system)" />
        <param name="target_component_id" value="$(arg tgt_component)" />
        <param name="fcu_protocol" value="$(arg fcu_protocol)" />
        <param name="system_id" value="1" />
        <param name="component_id" value="254" />

        <!-- load blacklist, config -->
        <rosparam command="load" file="$(arg pluginlists_yaml)" />
        <rosparam command="load" file="$(arg config_yaml)" />
        
        <!-- Topic Remaps for use on ROS -->
       <!-- <remap from="/mavros/vision_pose/pose" to="/zed/odom" />-->
        <remap from="/mavros/setpoint_velocity/cmd_vel_unstamped" to="/cmd_vel" />
        <remap from="/mavros/setpoint_position/local" to="/move_base/goal" />
        <remap from="/mavros/global_position/set_gp_origin" to="/set_gp_origin" />
    </node>

    <!-- <remap from="/set_gp_origin" to="/camera_pose_node/set_gp_origin" /> -->
    <!-- <remap from="/pose" to="/robot_pose" /> -->
  
    <!-- Joystick Interface Launch  -->
    <arg name="joy_config" default="ps3" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
    
    <rosparam command="load" file="$(find aion_control)/config/teleop.yaml" />    
    
    <node if="$(arg use_bt_joystick)" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.3" />
        <param name="autorepeat_rate" value="20" />
    </node>
    
    <node if="$(arg use_bt_joystick)" pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node" />
     
    

</launch>
